.schedule-container {
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  max-width: 57%;
  gap: 2rem;
  position: relative;
  left: 30%;
  top: 5%;
  justify-content: center;
}

.calendar-container {
  position: relative;
  left: 1rem;
  top: 2rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: absolute;
  bottom: 19.8rem;
  left: 30rem;
  width: 35rem;
  height: 16.9rem;
  border-radius: 8px;
  background-color: #4834d4;
  gap: 0.5rem;
}
.modal-container h2 {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.modal-form{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
  width: 50%;
  flex-direction: column;
  margin-top: 1rem;
}
.modal-form button{
  position: relative;
  bottom: 0.5rem;
padding: 3px 10px;
}
.modal-form select{
padding: 1px 2px;
}
.schedules-continer{
  position: relative;
 display: flex;
 justify-self: center;
  height: 16rem;
  padding: 0 1rem;
  gap:1rem;
  top: 5rem;
  left: 15vw;
  max-width: 40vw;
}
.events-container{
  background-color: aqua;
}
.birthdays-container{
  background-color: red;
}
.meetings-container{
  background-color: blue;
}
.buttons-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  margin-top: 1rem;  

}
.buttons-container button{
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  height: 10rem;
  width: 9rem;
  border-radius: 5px;
  border: 1px solid  #bac4c8;
  display:flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.2rem;
  align-items:center;
  justify-content: center;
  font-weight: bold;
}
.buttons-container button:hover{
  border: 1px solid white;
}