.home-container {
  background-color: rgb(196, 60, 60);
  height: 99vh;
  width: 99%;
  position: relative;
  top: 45.4vh;
  left: 0.1vw;
  justify-content: center; 
  align-items: center;
  border-radius: 7px;
}
.DWM-Components{
  color: rgb(207, 207, 194);
  font-size: 1.3vw;
}
.home-container h1{
  margin-left: 1rem;
}
.main-content{
  justify-content: center;
}
.sidebar.close .home-container{
  left: 78px;
  width: 30%;
}

.home-container nav{
display: flex;
gap: 2rem;
padding: 0.5rem;
background-color: blueviolet;
}
.home-container nav span{
  margin-left: 0.6rem;
}

.feelings-container,.notes-container{
display: flex;
gap: 2rem;
padding: 1em;
flex-wrap: wrap;
justify-content: center;
}
.feelings-container div{
background-color: aqua;
width: 10rem;
height: 10em;
}
.carousel-posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap :2.5rem;
  transition: all ease-in 150ms;
  border-radius: 7px;
}
.carousel-posts div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  background-color: yellow;
  height: 16rem;
}
 .carousel-posts div:hover{
  box-shadow: 0px 0px 1em rgb(77, 75, 75);
}
.new-post{
  display: flex;
  background-color: rgba(198, 221, 202, 0.342);
  width: 7vw;
  height: 12vh;
  border-radius: 7px;
  transition: all ease-in 150ms;
  border: dashed thin;
  align-self: center;
  align-items: center;
  justify-content: center;
 position: relative;
 left: 3vw;
} 

.formNote-container{
  position: absolute;
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  top: 20vh;
   box-shadow: 0px 1px 8px 5px rgb(77, 75, 75);
   border-radius: 7px;
 
}
.formNote-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}