.main-section{
  position: relative;
  background: #bbcc5d;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .main-section{
  left: 78px;
  width: calc(100% - 78px);
}
.main-section .main-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.main-section .main-content .bx-menu,
.main-section .main-content .text{
  color: #09016b;
  font-size: 35px;
}
.main-section .main-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.main-section .main-content .text{
  font-size: 26px;
  font-weight: 600;
}