
.main-container{
  position: relative;
  background: #bbcc5d;
  height: 100vh;
  left: 260px;
  width: 81vw;
  transition: all 0.5s ease;
}
.sidebar.close ~ .main-container{
  left: 78px;
  width: calc(100% - 78px);
}

.main-container .main-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.main-container .main-content .bx-menu,
.main-container .main-content .text{
  color: #09016b;
  font-size: 35px;
}
.main-container .main-content .bx-menu{
  /* margin: 0 15px; */
  cursor: pointer;
}
.main-container .main-content .text{
  font-size: 26px;
  font-weight: 600;
}