:root {
  --bgcolorHap: #f89b21;
  --bgcolorSad: #161514;
  --bgcolorNeu: #807e7e;
  --bgcolorAng:#da0404;
  --bgcolorFer :#003e57;
}

.main-container{
  position: relative;
  background: #bbcc5d;
  height: 100vh;
  left: 260px;
  width: 81vw;
  transition: all 0.5s ease;
}
.sidebar.close ~ .main-container{
  left: 78px;
  width: calc(100% - 78px);
}

.main-container .main-content{
  height: 60000px;
  display: flex;
  align-items: center;
}
.main-container.bx-menu,
.main-container.text{
  color: #09016b;
  font-size: 35px;
}
.main-container.bx-menu{
  /* margin: 0 15px; */
  cursor: pointer;
}
.main-container.text{
  font-size: 26px;
  font-weight: 600;
}